/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/

.root {
    -fx-background-color: #E8DFD1;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

/* Tarjeta contenedora principal (VBox) en Crema Beige Intenso */
.card-container {
    -fx-background-color: #FDFBF7;
    -fx-background-radius: 12px;
    -fx-border-color: #C5B299;
    -fx-border-radius: 12px;
    -fx-border-width: 1.5px;
    -fx-padding: 30px 25px;
    -fx-spacing: 14px;
    -fx-alignment: top-center;
    -fx-effect: dropshadow(three-pass-box, rgba(44, 26, 17, 0.22), 20, 0, 0, 6);
}


.text-field, .password-field {
    -fx-pref-height: 42px;
    -fx-pref-width: 320px;
    -fx-max-width: 320px;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #A38C75;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-padding: 0 12px;
    -fx-font-size: 13px;
    -fx-prompt-text-fill: #806E5C;
}


.text-field:focused, .password-field:focused {
    -fx-border-color: #2C1A11;
    -fx-border-width: 2px;
    -fx-background-color: #FFFFFF;
}

/* Etiquetas explicativas (Texto Café Oscuro de alto contraste) */
.label-instruccion {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #3D2619;
    -fx-alignment: center;
    -fx-wrap-text: true;
}

/* Botón principal "Cambiar Contraseña" (Café Chocolate Oscuro) */
.button-primary {
    -fx-pref-height: 44px;
    -fx-pref-width: 320px;
    -fx-max-width: 240px;
    -fx-background-color: #2C1A11;
    -fx-text-fill: #FDFBF7;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 6px;
    -fx-cursor: hand;
}

/* Efecto hover (Cambia a un Café Cobre / Terracota Intenso) */
.button-primary:hover {
    -fx-background-color: #8C4A27;
}

/* Efecto al hacer clic */
.button-primary:pressed {
    -fx-background-color: #1A100B;
}

